/*  <<< CSS RESET FILE >>>  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
 box-sizing: border-box;
 padding-top: 15vh;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquotebefore, blockquoteafter,
qbefore, qafter {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
a:hover, a:active {
    text-decoration: none;
}
a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

/*  <<< \CSS RESET FILE >>>  */


:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --primary: #116e99;
    --secondary: #38ef7d;
    --white: #fff;
    --gray: #9b9b9b;
}
body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: linear-gradient(to bottom, #4682B4, #87CEFA);
}
#main-weather-container{
    padding-left: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--white);
    align-self: self-start;
    margin-top: 15vh;
}
#weather-data-container{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
#weather-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#city{
    font-size: clamp(34px, 3vw, 5vw);
    margin-bottom: 0.5rem;
}
#country{
    font-size: clamp(26px, 2vw, 3vw);
    margin-bottom: 1rem;
}
#weekday{
    font-size: clamp(26px, 1vw, 2vw);
    margin-bottom: 0.5rem;
}
#temperature, #feels-like{
    font-size: clamp(26px, 1.5vw, 1.8vw);
    margin-bottom: 0.5rem;
}
#weather-img{
    height: clamp(120px, 9vw, 12vw);
    width: clamp(120px, 9vw, 12vw);
}
#weather-text{
    font-size: clamp(20px, 1vw, 31vw);
}




#forecast-section{
    padding-right: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    color: var(--white);
    text-align: center;
    align-self: self-start;
    margin-top: 15vh;
}
.forecast-div{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 130px;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(227, 244, 254, 0.3);
    margin: 1rem;
    padding: 10px;
}
.temperature{
    font-size: clamp(22px, 1.5vw, 1.8vw);
}
.forecast-img{
    height: 50px;
    width: 50px;
}
.condition{
    text-align: center;
}


.navbar{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: 10vh;
    min-height: 80px;
    background-color: rgba(227, 244, 254, 0.3);
}

input{
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid var(--primary);
    font-size: 20px;
    padding: 0 16px;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0 1rem;
}





input:focus{
    outline: none;
}
input::placeholder{
    color: var(--primary);
}
#btn-search{
    border: none;
    font-size: 16px;
}
.form-btn {
    appearance: none;
    background-color: rgba(17, 110, 153, 0.7);
    border: 2px solid rgb(15, 95, 133);
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-width: 0;
    outline: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 120px;
    will-change: transform;
}
  
.form-btn:disabled {
    pointer-events: none;
}
  
.form-btn:hover {
    color: #fff;
    background-color: rgb(15, 95, 133);
    box-shadow: rgba(17, 110, 153, 0.7) 0 8px 15px;
    transform: translateY(-2px);
}
  
.form-btn:active {
    box-shadow: none;
    transform: translateY(0);
}

/* FOOTER */
#footer-container{
    color: var(--primary);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    grid-column: span 2;
    align-self: self-end;
    background-color: rgba(227, 244, 254, 0.3);
    box-sizing: border-box;
    padding: 2rem 0rem;
}
#footer-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.footer-label{
    font-size: 14px;
    margin-bottom: 6px;
}
#git-para{
    font-size: 18px;
}



/* RESPONSIVE @MEDIA CODE */
@media screen and (max-width: 400px) {
    body{
        grid-template-columns: 1fr;
    }
    #main-weather-container{
        margin-top: 7vh;
        padding: 0vw 0vw;
    }
    #forecast-section{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10vh;
        margin-top: 0vh;
        padding: 0vw 0vw;
        gap: 1rem;
    }
    .forecast-div{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 1rem;
        padding: 10px;
    }
    input{
        width: clamp(100px, 150px, 200px);
    }
    #footer-container{
        grid-column: span 1;
    }
}


@media screen and (max-width: 600px) {
    body{
        grid-template-columns: 1fr;
    }
    #main-weather-container{
        margin-top: 7vh;
        padding: 0vw 5vw;
    }
    #forecast-section{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10vh;
        margin-top: 0vh;
        padding: 0vw 5vw;
        gap: 1rem;
    }
    .forecast-div{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 1rem;
        padding: 10px;
    }
    input{
        width: clamp(100px, 150px, 200px);
    }
    #footer-container{
        grid-column: span 1;
    }
}
@media screen and (min-width: 601px) and (max-width: 1400px) {
    body{
        grid-template-columns: 1fr;
    }
    #main-weather-container{
        margin-top: 10vh;
        align-self: self-start;
        padding: 0vw 10vw;
    }
    #forecast-section{
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 10vh;
        gap: 1rem;
        margin-top: 0vh;
        padding: 0vw 10vw;
    }
    .forecast-div{
        box-sizing: border-box;
        min-width: 120px;
        min-height: 120px;
        width: 100%;
        height: 100%;
        margin: 1rem;
        padding: 10px;
    }
    #weather-img{
        height: clamp(160px, 9vw, 12vw);
        width: clamp(160px, 9vw, 12vw);
    }
    #weather-text{
        font-size: clamp(26px, 1vw, 31vw);
    }
    #footer-container{
        grid-column: span 1;
    }
}